body {
    background-color: #D5A3F4;
}

span {
    color: red;
}

h1 {
    text-align: center;
}

/* Container */
.container {
    background-color: white;
    margin: 10px;
    padding: 20px;
}


/*Input style */
input {
    padding: 5px;
}

button {
    padding: 5px;
    color: white;
    background-color: #D5A3F4;
    font-size: 0.9em;
    border: 0px;
    border-radius: 10px;
}

button:hover {
    color: #d5a3f4;
    background-color: white;
    border: 2px solid #D5A3F4;
}


/*FILTER AMIBO */
#amiibos {
    display: grid; 
    grid-template-columns: auto auto auto; 
    margin-top: 20px;
}

#search-amiibos {
    min-width: 170px;
}

.amiibo-label {
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto;
}


details {
    border: 2px solid black;
    padding: 20px;
}

details img {
    text-align: center;
}
